---
layout: default
---

<h2>Benvenuto!</h2>
<p>Questo è il sito della comunità italiana di FedoraOnline!</p>
<div class="alert alert-primary" role="alert">
Questa è la nuova versione di FedoraOnLine, i nostri pinguini stanno ancora lavorando su questa pagina. Contribuisci sul <a href="https://gitlab.com/fedoraonline/fedoraonline.gitlab.io">repository GitLab</a>!
</div>
<h2>Ultime dal forum</h2>
<table class="rss table table-sm" data-src="https://forum.fedoraonline.it/extern.php?action=feed&type=rss" data-locale="it-IT" data-limit="10">
<thead><tr><th>Data</th><th>Titolo</th><th>Utente</th></tr></thead>
</table>
<h2>Cos'è Fedora?</h2>
<img class="img-fluid mb-3" src="/sites/all/themes/newfol20/images/4foundations.png" alt="4 foundations">
<p>Fedora è un sistema operativo basato sul binomio GNU/Linux ed è sviluppata dalla comunità presente in tutto il mondo, il Fedora Project.</p>
<p>Fedora è e sarà sempre libera, chiunque può usarla, modificarla e distribuirla. Il progresso della libertà del software e dei contenuti è un obbiettivo chiave del Fedora Project.</p>
<p>Fedora utilizza gli ultimi pacchetti software disponibili, e grazie a questa caratteristica molte impostazioni di cui beneficiano tutte le distribuzioni GNU/Linux, partono da Fedora.</p>
<p>Inoltre la partecipazione al Fedora Project è libera e chiunque può parteciparvi. Scopri tutti i sottoprogetti a cui è possibile partecipare, il futuro del software libero coinvolge tutti.</p>
